{% extends 'base_layout.html' %}

{% block content %}
<div class="container my-5 text-center">

  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field, errors in errors.items %}
    {% for error in errors %}
    <div class="alert alert-danger alert-dismissible fade show fs-4" role="alert">
      {{error}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endfor %}
    <div class="fs-1 mb-3">Авторизация пользователя</div>
    {% for field in form %}

    <div class="field">
      {{ field }}
    </div>
    {% endfor %}

    <div class="fs-4 mb-3" style="text-align: right;">Перейти на страницу
      <a href="{% url 'users:register' %}">регистрации</a>
    </div>
    <button class="btn btn-success btn-lg">Войти</button>
  </form>

</div>
{% endblock %}