{% extends 'base_layout.html' %}
    
{% block content %}

    <div class="container my-5">
        <div class="p-4 text-left bg-body-tertiary rounded-3">
            <div class="mb-3">Ветка родитель: {{ parent_node.name }}</div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name_input" class="form-label">Название дерева</label>
                    {{ form.name }}
                </div>
                {% if parent_node.access_mode == 'public' %}
                <div class="mb-3">
                    <label for="access_mode_input" class="form-label">Видимость дерева</label>
                    {{ form.access_mode }}
                </div>
                {% else %}
                <div class="mb-3">
                    <button type="button" class="btn btn-lg btn-info" 
                        data-bs-toggle="popover" 
                        data-bs-title="Видимость ветки" 
                        data-bs-content="Потомки приватной ветки не могут быть публичными.">
                        Данная ветка приватная >
                    </button>
                </div>
                {% endif %}
                <button type="submit" class="btn btn-success">Сохранить</button>
            </form>
        </div>
    </div>

{% endblock %}