{% extends 'base_layout_show_tree.html' %}

{% block content %}

<div class="container my-5">
    <div class="is_hidden" id="max_level" value="{{ max_level }}"></div>
    <div class="treeview js-treeview">
        <ul>
            {% for node in nodes %}
            <li class="node_tree_single_item" id="{{ node.id }}" parent="{{ node.parent.id }}">
                <div class="treeview__level" data-level="{{ node.level }}">
                    <a class="level-title text-decoration-none" href="{% url 'node_manager:show_node' node.id %}">{{node.name}}</a>
                    <div class="treeview__level-btns">
                        <a class="btn btn-default btn-sm level-remove" href="{% url 'node_manager:delete_node' node.id %}"><span class="fa fa-trash text-danger"></span>
                        </a>
                        <a class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></a>
                        {% if node.id != node.root_parent.id %}
                        <a class="btn btn-default btn-sm level-same" href="{% url 'node_manager:create_node_tree_branch' node.parent.id %}"><span>Add Same Level</span></a>
                        {% endif %}
                        <a class="btn btn-default btn-sm level-sub" href="{% url 'node_manager:create_node_tree_branch' node.id %}"><span>Add Sub Level</span></a>
                    </div>
                </div>
                <ul>
                </ul>
            </li>
            {% endfor %}
        </ul>
    </div>

    <template id="levelMarkup">
        <li>
            <div class="treeview__level" data-level="A">
                <span class="level-title">Level A</span>
                <div class="treeview__level-btns">
                    <div class="btn btn-default btn-sm level-add"><span class="fa fa-plus"></span></div>
                    <div class="btn btn-default btn-sm level-remove"><span class="fa fa-trash text-danger"></span></div>
                    <div class="btn btn-default btn-sm level-same"><span>Add Same Level</span></div>
                    <div class="btn btn-default btn-sm level-sub"><span>Add Sub Level</span></div>
                </div>
            </div>
            <ul>
            </ul>
        </li>
    </template>
    
</div>

{% endblock %}