{% extends 'base_layout.html' %}

{% block content %}

<div class="container my-5">
    <div class="fs-1 mb-5">Ветка "{{ node.name }}"</div>
    {% for piece in pieces %}
    <div class="mb-5 piece" id="piece-{{piece.id}}" id_value="{{ piece.id }}">
        <div class="d-none is_secret" value="{{ piece.is_secret }}"></div>
        <div class="mb-3 d-flex gap-3">
            <div class="fs-3 piece_name">{{ piece.piece_name }}</div>
            <button class="btn btn-info"><span class="fa fa-edit"></span></button>
            <form method="post" action="{%url 'node_manager:delete_node_tree_piece' piece.id %}">
                {% csrf_token %}
                <button class="btn btn-danger"><span class="fa fa-trash"></span></button>
            </form>
        </div>
        <div class="fs-4 piece_body">{{ piece.body}}</div>
    </div>
    {% if form %}
    <form class="d-none mb-5 form-piece" method="post"
          id="form-piece-{{piece.id}}" id_value="{{ piece.id }}"
          action="{% url 'node_manager:update_node_tree_piece' piece.id %}">
        {% csrf_token %}
        <input type="hidden" name="piece_id" value="{{ piece.id }}">
        <div class="mb-3">
            <label for="piece_name_input" class="form-label">Имя параграфа</label>
            {{ form.piece_name }}
        </div>
        <div class="mb-3">
            <label for="is_secret_input" class="form-label">Секретный параграф</label>
            {{ form.is_secret }}
        </div>
        <div class="mb-3">
            <label for="body_input" class="form-label">Содержимое параграфа</label>
            {{ form.body }}
        </div>
        <div class="d-flex gap-3">
            <button type="submit" class="btn btn-success">Обновить</button>
            <div class="btn btn-info">Отмена</div>
        </div>
    </form>
    {% endif %}
    {% endfor %}

    {% if form %}
    <div class="fs-4">Добавьте еще данных:</div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="piece_name_input" class="form-label">Имя параграфа</label>
            {{ form.piece_name }}
        </div>
        <div class="mb-3">
            <label for="is_secret_input" class="form-label">Секретный параграф</label>
            {{ form.is_secret }}
        </div>
        <div class="mb-3">
            <label for="body_input" class="form-label">Содержимое параграфа</label>
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
    {% endif %}
</div>
{% endblock %}
